<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'emailapp/css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'inbox' %}">Inbox</a>
        <a href="{% url 'compose' %}">Compose</a>
        <a href="{% url 'generate_email' %}">Generate Email</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
